1. Introduction:

Human Resource (HR) Data of a Multi-national Corporation (MNC)

This dataset contains HR information for employees of a multinational corporation (MNC). It includes 2 Million (20 Lakhs) employee records with details about personal identifiers, job-related attributes, performance, employment status, and salary information.
The dataset can be used for HR analytics, including workforce distribution, attrition analysis, salary trends, and performance evaluation.

2. ASK:

*What are the purposes of this analysis:*
- Workforce Distribution: Analyzing the demographics and structure of the workforce across different departments, locations, or roles. This could help management understand the composition of their staff and identify any imbalances.

- Attrition Analysis: Studying employee turnover to understand why employees are leaving the company. By analyzing data on terminated employees, an organization can identify trends and potential root causes of attrition, such as low job satisfaction or poor management.

- Salary Trends: Examining salary data to identify patterns, ensure fair compensation, and detect potential pay gaps. This can be used for benchmarking salaries against industry standards or for making informed decisions on compensation adjustments.

- Performance Evaluation: Assessing employee performance to identify high-achievers, pinpoint areas for improvement, and link performance to other factors like salary or retention.

*And they will be achieved by answering these questions:*

Q.1) What is the distribution of Employee Status (Active, Resigned, Retired, Terminated) ?

Q.2) What is the distribution of work modes (On-site, Remote) ?

Q.3) How many employees are there in each department ?

Q.4) What is the average salary by Department ?

Q.5) Which job title has the highest average salary ?

Q.6) What is the average salary in different Departments based on Job Title ?

Q.7) How many employees Resigned & Terminated in each department ?

Q.8) How does salary vary with years of experience ?

Q.9) What is the average performance rating by department ?

Q.10) Which Country have the highest concentration of employees ?

Q.11) Is there a correlation between performance rating and salary ?

Q.12) How has the number of hires changed over time (per year) ?

Q.13) Compare salaries of Remote vs. On-site employees — is there a significant difference ?

Q.14) Find the top 10 employees with the highest salary in each department.

Q.15) Identify departments with the highest attrition rate (Resigned %).

3. PREPARE:
*Data observation:*
- License: Database Contents License (DbCL) v1.0
This dataset is highly permissive but no wanrranties of its accuracy, errors, fitness for purposes. Which means the dataset should be used only in practicing.
- Validation Date: Last update was August 23, 2025.

Process preparation:**
Setup library and import dataset

In [39]:
# Import Library
import polars as pl
import os

from utils import check_missing_values, check_information, check_duplicates, display_duplicates

# Import dataset
df = pl.read_csv("HR_Data_MNC_Data Science Lovers.csv")

In [40]:
print("Show dataframe structure")
print("---------------------------------------------------------")
display(df.head(50))
print("check_missing_values")
print("---------------------------------------------------------")
display(df.null_count())
print("check_information")
print("---------------------------------------------------------")
display(df.describe())
print("check_duplicates")
duplicates = df.is_duplicated().sum() #May also be used with df.unique(subset = ['column'])
display(duplicates)
if duplicates > 0:
        print(f"Duplicate rows found: {duplicates}")
else:
        print("No duplicate rows found.")

Show dataframe structure
---------------------------------------------------------

shape: (50, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status   ┆ Work_Mode ┆ Salary_IN │
│ 0         ┆ ID        ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---      ┆ ---       ┆ R         │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ str      ┆ str       ┆ ---       │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆ i64       ┆          ┆           ┆ i64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 0         ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ 14        ┆ Resigned ┆ On-site   ┆ 1585363   │
│           ┆ 1         ┆ Nguyen    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1         ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ 7         ┆ Active   ┆ On-site   ┆ 847686    │
│           ┆ 2         ┆ Williams  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 2         ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ 2         ┆ Active   ┆ On-site   ┆ 1430084   │
│           ┆ 3         ┆ Martinez  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 3         ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ 1         ┆ Active   ┆ On-site   ┆ 990689    │
│           ┆ 4         ┆ Valdez    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 4         ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 535082    │
│           ┆ 5         ┆ Hendricks ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …         ┆ …         │
│ 45        ┆ EMP000004 ┆ James     ┆ Marketing ┆ … ┆ 3         ┆ Active   ┆ Remote    ┆ 768681    │
│           ┆ 6         ┆ Miller    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 46        ┆ EMP000004 ┆ Donna     ┆ Operation ┆ … ┆ 14        ┆ Active   ┆ On-site   ┆ 982133    │
│           ┆ 7         ┆ Estes     ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ 47        ┆ EMP000004 ┆ Tom Mills ┆ HR        ┆ … ┆ 1         ┆ Active   ┆ Remote    ┆ 565467    │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│ 48        ┆ EMP000004 ┆ Chad      ┆ IT        ┆ … ┆ 9         ┆ Resigned ┆ Remote    ┆ 709525    │
│           ┆ 9         ┆ Newton    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 49        ┆ EMP000005 ┆ Gary      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 459800    │
│           ┆ 0         ┆ Charles   ┆ s         ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

check_missing_values
---------------------------------------------------------

shape: (1, 12)
┌────────────┬────────────┬───────────┬───────────┬───┬───────────┬────────┬───────────┬───────────┐
│ Unnamed: 0 ┆ Employee_I ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status ┆ Work_Mode ┆ Salary_IN │
│ ---        ┆ D          ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---    ┆ ---       ┆ R         │
│ u32        ┆ ---        ┆ u32       ┆ ---       ┆   ┆ ---       ┆ u32    ┆ u32       ┆ ---       │
│            ┆ u32        ┆           ┆ u32       ┆   ┆ u32       ┆        ┆           ┆ u32       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪════════╪═══════════╪═══════════╡
│ 0          ┆ 0          ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0      ┆ 0         ┆ 0         │
└────────────┴────────────┴───────────┴───────────┴───┴───────────┴────────┴───────────┴───────────┘

check_information
---------------------------------------------------------

shape: (9, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ … ┆ Experienc ┆ Status    ┆ Work_Mode ┆ Salary_I │
│ ---       ┆ 0         ┆ ID        ┆ ---       ┆   ┆ e_Years   ┆ ---       ┆ ---       ┆ NR       │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ str       ┆ str       ┆ ---      │
│           ┆ f64       ┆ str       ┆           ┆   ┆ f64       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2e6       ┆ 2000000   ┆ 2000000   ┆ … ┆ 2e6       ┆ 2000000   ┆ 2000000   ┆ 2e6      │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0         ┆ 0         ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 999999.5  ┆ null      ┆ null      ┆ … ┆ 5.010287  ┆ null      ┆ null      ┆ 896887.7 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 55664    │
│ std       ┆ 577350.41 ┆ null      ┆ null      ┆ … ┆ 3.608823  ┆ null      ┆ null      ┆ 402610.3 │
│           ┆ 3527      ┆           ┆           ┆   ┆           ┆           ┆           ┆ 04438    │
│ min       ┆ 0.0       ┆ EMP000000 ┆ Aaron     ┆ … ┆ 0.0       ┆ Active    ┆ On-site   ┆ 300000.0 │
│           ┆           ┆ 1         ┆ Abbott    ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 500000.0  ┆ null      ┆ null      ┆ … ┆ 2.0       ┆ null      ┆ null      ┆ 616346.0 │
│ 50%       ┆ 1e6       ┆ null      ┆ null      ┆ … ┆ 5.0       ┆ null      ┆ null      ┆ 811027.0 │
│ 75%       ┆ 1.499999e ┆ null      ┆ null      ┆ … ┆ 8.0       ┆ null      ┆ null      ┆ 1.073745 │
│           ┆ 6         ┆           ┆           ┆   ┆           ┆           ┆           ┆ e6       │
│ max       ┆ 1.999999e ┆ EMP200000 ┆ Zoe       ┆ … ┆ 15.0      ┆ Terminate ┆ Remote    ┆ 2.999976 │
│           ┆ 6         ┆ 0         ┆ Zimmerman ┆   ┆           ┆ d         ┆           ┆ e6       │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

check_duplicates

0

No duplicate rows found.

*Initial Data Exploration:*
1) Unnamed: 0 – Index column (auto-generated, not useful for analysis, will be deleted).
2) Employee_ID – Unique identifier assigned to each employee (e.g., EMP0000001).
3) Full_Name – Full name of the employee.
4) Department – Department in which the employee works (e.g., IT, HR, Marketing, Operations).
5) Job_Title – Designation or role of the employee (e.g., Software Engineer, HR Manager).
6) Hire_Date – The date when the employee was hired by the company.
7) Location – Geographical location of the employee (city, country).
8) Performance_Rating – Performance evaluation score (numeric scale, higher is better).
9) Experience_Years – Number of years of professional experience the employee has.
10) Status – Current employment status (e.g., Active, Resigned).
11) Work_Mode – Mode of working (e.g., On-site, Hybrid, Remote).
12) Salary_INR – Annual salary of the employee in Indian Rupees.

*Data Cleaning*
With the above checking of missing values, duplications, data input consistence, column name. No problem is found.

4. PROCESS:

In [41]:
df = df.with_columns([
    pl.col("Hire_Date").str.to_date(),
    pl.col('Salary_INR').cast(pl.Float64)
])

In [43]:
display(df)

print(df['Work_Mode'].unique())

shape: (2_000_000, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status   ┆ Work_Mode ┆ Salary_IN │
│ 0         ┆ ID        ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---      ┆ ---       ┆ R         │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ str      ┆ str       ┆ ---       │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆ i64       ┆          ┆           ┆ f64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 0         ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ 14        ┆ Resigned ┆ On-site   ┆ 1.585363e │
│           ┆ 1         ┆ Nguyen    ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1         ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ 7         ┆ Active   ┆ On-site   ┆ 847686.0  │
│           ┆ 2         ┆ Williams  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 2         ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ 2         ┆ Active   ┆ On-site   ┆ 1.430084e │
│           ┆ 3         ┆ Martinez  ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 3         ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ 1         ┆ Active   ┆ On-site   ┆ 990689.0  │
│           ┆ 4         ┆ Valdez    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 4         ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 535082.0  │
│           ┆ 5         ┆ Hendricks ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …         ┆ …         │
│ 1999995   ┆ EMP199999 ┆ Cody      ┆ Operation ┆ … ┆ 14        ┆ Active   ┆ Remote    ┆ 657648.0  │
│           ┆ 6         ┆ Russell   ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ 1999996   ┆ EMP199999 ┆ Tracey    ┆ IT        ┆ … ┆ 4         ┆ Active   ┆ On-site   ┆ 1.030109e │
│           ┆ 7         ┆ Smith     ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999997   ┆ EMP199999 ┆ Tracy Lee ┆ Sales     ┆ … ┆ 1         ┆ Active   ┆ Remote    ┆ 1.313085e │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999998   ┆ EMP199999 ┆ Michael   ┆ IT        ┆ … ┆ 2         ┆ Retired  ┆ On-site   ┆ 1.479727e │
│           ┆ 9         ┆ Roberson  ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999999   ┆ EMP200000 ┆ Angela    ┆ HR        ┆ … ┆ 4         ┆ Active   ┆ Remote    ┆ 993718.0  │
│           ┆ 0         ┆ Lambert   ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

shape: (2,)
Series: 'Work_Mode' [str]
[
	"Remote"
	"On-site"
]

5. ANALYSIS:

6. SHARING & ACT: