1. Introduction:

Human Resource (HR) Data of a Multi-national Corporation (MNC)

This dataset contains HR information for employees of a multinational corporation (MNC). It includes 2 Million (20 Lakhs) employee records with details about personal identifiers, job-related attributes, performance, employment status, and salary information.
The dataset can be used for HR analytics, including workforce distribution, attrition analysis, salary trends, and performance evaluation.

2. ASK:

*What are the purposes of this analysis:*
- Workforce Distribution: Analyzing the demographics and structure of the workforce across different departments, locations, or roles. This could help management understand the composition of their staff and identify any imbalances.

- Attrition Analysis: Studying employee turnover to understand why employees are leaving the company. By analyzing data on terminated employees, an organization can identify trends and potential root causes of attrition, such as low job satisfaction or poor management.

- Salary Trends: Examining salary data to identify patterns, ensure fair compensation, and detect potential pay gaps. This can be used for benchmarking salaries against industry standards or for making informed decisions on compensation adjustments.

- Performance Evaluation: Assessing employee performance to identify high-achievers, pinpoint areas for improvement, and link performance to other factors like salary or retention.

*And they will be achieved by answering these questions:*

Q.1) What is the distribution of Employee Status (Active, Resigned, Retired, Terminated) ?

Q.2) What is the distribution of work modes (On-site, Remote) ?

Q.3) How many employees are there in each department ?

Q.4) What is the average salary by Department ?

Q.5) Which job title has the highest average salary ?

Q.6) What is the average salary in different Departments based on Job Title ?

Q.7) How many employees Resigned & Terminated in each department ?

Q.8) How does salary vary with years of experience ?

Q.9) What is the average performance rating by department ?

Q.10) Which Country have the highest concentration of employees ?

Q.11) Is there a correlation between performance rating and salary ?

Q.12) How has the number of hires changed over time (per year) ?

Q.13) Compare salaries of Remote vs. On-site employees — is there a significant difference ?

Q.14) Find the top 10 employees with the highest salary in each department.

Q.15) Identify departments with the highest attrition rate (Resigned %).

3. PREPARE:
*Data observation:*
- License: Database Contents License (DbCL) v1.0
This dataset is highly permissive but no wanrranties of its accuracy, errors, fitness for purposes. Which means the dataset should be used only in practicing.
- Validation Date: Last update was August 23, 2025.

Process preparation:**
Setup library and import dataset

In [1]:
# Import Library
import polars as pl
import seaborn as sns
import matplotlib.pyplot as plt
import os

from utils_polars import check_missing_values, check_information, check_duplicates, display_duplicates

# Import dataset

df = pl.read_csv("/kaggle/input/hr-data-mnc/HR_Data_MNC_Data Science Lovers.csv")

# USD & INR Relationship
n = 87.63

In [2]:
print("Show dataframe structure")
print("---------------------------------------------------------")
display(df.head(50))
print("check_missing_values")
print("---------------------------------------------------------")
display(df.null_count())
print("check_information")
print("---------------------------------------------------------")
display(df.describe())
print("check_duplicates")
duplicates = df.is_duplicated().sum() #May also be used with df.unique(subset = ['column'])
display(duplicates)
if duplicates > 0:
        print(f"Duplicate rows found: {duplicates}")
else:
        print("No duplicate rows found.")

Show dataframe structure
---------------------------------------------------------

shape: (50, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status   ┆ Work_Mode ┆ Salary_IN │
│ 0         ┆ ID        ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---      ┆ ---       ┆ R         │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ str      ┆ str       ┆ ---       │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆ i64       ┆          ┆           ┆ i64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 0         ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ 14        ┆ Resigned ┆ On-site   ┆ 1585363   │
│           ┆ 1         ┆ Nguyen    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 1         ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ 7         ┆ Active   ┆ On-site   ┆ 847686    │
│           ┆ 2         ┆ Williams  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 2         ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ 2         ┆ Active   ┆ On-site   ┆ 1430084   │
│           ┆ 3         ┆ Martinez  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 3         ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ 1         ┆ Active   ┆ On-site   ┆ 990689    │
│           ┆ 4         ┆ Valdez    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 4         ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 535082    │
│           ┆ 5         ┆ Hendricks ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …         ┆ …         │
│ 45        ┆ EMP000004 ┆ James     ┆ Marketing ┆ … ┆ 3         ┆ Active   ┆ Remote    ┆ 768681    │
│           ┆ 6         ┆ Miller    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 46        ┆ EMP000004 ┆ Donna     ┆ Operation ┆ … ┆ 14        ┆ Active   ┆ On-site   ┆ 982133    │
│           ┆ 7         ┆ Estes     ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ 47        ┆ EMP000004 ┆ Tom Mills ┆ HR        ┆ … ┆ 1         ┆ Active   ┆ Remote    ┆ 565467    │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆          ┆           ┆           │
│ 48        ┆ EMP000004 ┆ Chad      ┆ IT        ┆ … ┆ 9         ┆ Resigned ┆ Remote    ┆ 709525    │
│           ┆ 9         ┆ Newton    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 49        ┆ EMP000005 ┆ Gary      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 459800    │
│           ┆ 0         ┆ Charles   ┆ s         ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

check_missing_values
---------------------------------------------------------

shape: (1, 12)
┌────────────┬────────────┬───────────┬───────────┬───┬───────────┬────────┬───────────┬───────────┐
│ Unnamed: 0 ┆ Employee_I ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status ┆ Work_Mode ┆ Salary_IN │
│ ---        ┆ D          ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---    ┆ ---       ┆ R         │
│ u32        ┆ ---        ┆ u32       ┆ ---       ┆   ┆ ---       ┆ u32    ┆ u32       ┆ ---       │
│            ┆ u32        ┆           ┆ u32       ┆   ┆ u32       ┆        ┆           ┆ u32       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪════════╪═══════════╪═══════════╡
│ 0          ┆ 0          ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0      ┆ 0         ┆ 0         │
└────────────┴────────────┴───────────┴───────────┴───┴───────────┴────────┴───────────┴───────────┘

check_information
---------------------------------------------------------

shape: (9, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ … ┆ Experienc ┆ Status    ┆ Work_Mode ┆ Salary_I │
│ ---       ┆ 0         ┆ ID        ┆ ---       ┆   ┆ e_Years   ┆ ---       ┆ ---       ┆ NR       │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ str       ┆ str       ┆ ---      │
│           ┆ f64       ┆ str       ┆           ┆   ┆ f64       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2e6       ┆ 2000000   ┆ 2000000   ┆ … ┆ 2e6       ┆ 2000000   ┆ 2000000   ┆ 2e6      │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0         ┆ 0         ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 999999.5  ┆ null      ┆ null      ┆ … ┆ 5.010287  ┆ null      ┆ null      ┆ 896887.7 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 55664    │
│ std       ┆ 577350.41 ┆ null      ┆ null      ┆ … ┆ 3.608823  ┆ null      ┆ null      ┆ 402610.3 │
│           ┆ 3527      ┆           ┆           ┆   ┆           ┆           ┆           ┆ 04438    │
│ min       ┆ 0.0       ┆ EMP000000 ┆ Aaron     ┆ … ┆ 0.0       ┆ Active    ┆ On-site   ┆ 300000.0 │
│           ┆           ┆ 1         ┆ Abbott    ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 500000.0  ┆ null      ┆ null      ┆ … ┆ 2.0       ┆ null      ┆ null      ┆ 616346.0 │
│ 50%       ┆ 1e6       ┆ null      ┆ null      ┆ … ┆ 5.0       ┆ null      ┆ null      ┆ 811027.0 │
│ 75%       ┆ 1.499999e ┆ null      ┆ null      ┆ … ┆ 8.0       ┆ null      ┆ null      ┆ 1.073745 │
│           ┆ 6         ┆           ┆           ┆   ┆           ┆           ┆           ┆ e6       │
│ max       ┆ 1.999999e ┆ EMP200000 ┆ Zoe       ┆ … ┆ 15.0      ┆ Terminate ┆ Remote    ┆ 2.999976 │
│           ┆ 6         ┆ 0         ┆ Zimmerman ┆   ┆           ┆ d         ┆           ┆ e6       │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

check_duplicates

0

No duplicate rows found.

*Initial Data Exploration:*
1) Unnamed: 0 – Index column (auto-generated, not useful for analysis, will be deleted).
2) Employee_ID – Unique identifier assigned to each employee (e.g., EMP0000001).
3) Full_Name – Full name of the employee.
4) Department – Department in which the employee works (e.g., IT, HR, Marketing, Operations).
5) Job_Title – Designation or role of the employee (e.g., Software Engineer, HR Manager).
6) Hire_Date – The date when the employee was hired by the company.
7) Location – Geographical location of the employee (city, country).
8) Performance_Rating – Performance evaluation score (numeric scale, higher is better).
9) Experience_Years – Number of years of professional experience the employee has.
10) Status – Current employment status (e.g., Active, Resigned).
11) Work_Mode – Mode of working (e.g., On-site, Hybrid, Remote).
12) Salary_INR – Annual salary of the employee in Indian Rupees.

*Data Cleaning*
With the above checking of missing values, duplications, data input consistence, column name. No problem is found.

4. PROCESS:

In [3]:
df = df.with_columns([
    pl.col("Hire_Date").str.to_date(),
    pl.col('Salary_INR').cast(pl.Float64)
])

In [4]:
display(df)
for col in df.columns:
    print(f'The column {col} has unique values: {df[col].unique()}')
    #print(f'The column {col} has unique values: {df["{col}"].unique()}')

shape: (2_000_000, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Experienc ┆ Status   ┆ Work_Mode ┆ Salary_IN │
│ 0         ┆ ID        ┆ ---       ┆ t         ┆   ┆ e_Years   ┆ ---      ┆ ---       ┆ R         │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ str      ┆ str       ┆ ---       │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆ i64       ┆          ┆           ┆ f64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 0         ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ 14        ┆ Resigned ┆ On-site   ┆ 1.585363e │
│           ┆ 1         ┆ Nguyen    ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1         ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ 7         ┆ Active   ┆ On-site   ┆ 847686.0  │
│           ┆ 2         ┆ Williams  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 2         ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ 2         ┆ Active   ┆ On-site   ┆ 1.430084e │
│           ┆ 3         ┆ Martinez  ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 3         ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ 1         ┆ Active   ┆ On-site   ┆ 990689.0  │
│           ┆ 4         ┆ Valdez    ┆           ┆   ┆           ┆          ┆           ┆           │
│ 4         ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ 0         ┆ Active   ┆ On-site   ┆ 535082.0  │
│           ┆ 5         ┆ Hendricks ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …        ┆ …         ┆ …         │
│ 1999995   ┆ EMP199999 ┆ Cody      ┆ Operation ┆ … ┆ 14        ┆ Active   ┆ Remote    ┆ 657648.0  │
│           ┆ 6         ┆ Russell   ┆ s         ┆   ┆           ┆          ┆           ┆           │
│ 1999996   ┆ EMP199999 ┆ Tracey    ┆ IT        ┆ … ┆ 4         ┆ Active   ┆ On-site   ┆ 1.030109e │
│           ┆ 7         ┆ Smith     ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999997   ┆ EMP199999 ┆ Tracy Lee ┆ Sales     ┆ … ┆ 1         ┆ Active   ┆ Remote    ┆ 1.313085e │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999998   ┆ EMP199999 ┆ Michael   ┆ IT        ┆ … ┆ 2         ┆ Retired  ┆ On-site   ┆ 1.479727e │
│           ┆ 9         ┆ Roberson  ┆           ┆   ┆           ┆          ┆           ┆ 6         │
│ 1999999   ┆ EMP200000 ┆ Angela    ┆ HR        ┆ … ┆ 4         ┆ Active   ┆ Remote    ┆ 993718.0  │
│           ┆ 0         ┆ Lambert   ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

The column Unnamed: 0 has unique values: shape: (2_000_000,)
Series: 'Unnamed: 0' [i64]
[
	0
	1
	2
	3
	4
	…
	1999995
	1999996
	1999997
	1999998
	1999999
]
The column Employee_ID has unique values: shape: (2_000_000,)
Series: 'Employee_ID' [str]
[
	"EMP0440580"
	"EMP0859279"
	"EMP1698491"
	"EMP0325951"
	"EMP0002470"
	…
	"EMP1511092"
	"EMP0053242"
	"EMP0587140"
	"EMP1778706"
	"EMP0038701"
]
The column Full_Name has unique values: shape: (467_487,)
Series: 'Full_Name' [str]
[
	"Ricky Soto"
	"Jordan Thompson PhD"
	"Lori Mccann"
	"Kristina Wallace"
	"Jackie Smith"
	…
	"Charlene Perez"
	"Jacqueline Pacheco"
	"Brent Nunez"
	"Juan Woods"
	"Natalie Lowe"
]
The column Department has unique values: shape: (7,)
Series: 'Department' [str]
[
	"Operations"
	"Finance"
	"IT"
	"Marketing"
	"R&D"
	"Sales"
	"HR"
]
The column Job_Title has unique values: shape: (29,)
Series: 'Job_Title' [str]
[
	"Sales Director"
	"Marketing Executive"
	"Financial Analyst"
	"Sales Executive"
	"DevOps Engineer"
	…
	"HR Manager"
	"Innovation Manager"
	"CFO"
	"IT Manager"
	"Account Manager"
]
The column Hire_Date has unique values: shape: (5_479,)
Series: 'Hire_Date' [date]
[
	2010-08-14
	2010-08-15
	2010-08-16
	2010-08-17
	2010-08-18
	…
	2025-08-09
	2025-08-10
	2025-08-11
	2025-08-12
	2025-08-13
]
The column Location has unique values: shape: (1_593_497,)
Series: 'Location' [str]
[
	"Haysberg, Chad"
	"Carlosfurt, Ecuador"
	"Veronicatown, Sao Tome and Pri…
	"Port Jessica, Eritrea"
	"Debrastad, Luxembourg"
	…
	"Aaronland, Yemen"
	"Westtown, Uzbekistan"
	"Walterhaven, Serbia"
	"South Monicamouth, Gabon"
	"Rebeccatown, Burundi"
]
The column Performance_Rating has unique values: shape: (5,)
Series: 'Performance_Rating' [i64]
[
	1
	2
	3
	4
	5
]
The column Experience_Years has unique values: shape: (16,)
Series: 'Experience_Years' [i64]
[
	0
	1
	2
	3
	4
	…
	11
	12
	13
	14
	15
]
The column Status has unique values: shape: (4,)
Series: 'Status' [str]
[
	"Terminated"
	"Resigned"
	"Retired"
	"Active"
]
The column Work_Mode has unique values: shape: (2,)
Series: 'Work_Mode' [str]
[
	"On-site"
	"Remote"
]
The column Salary_INR has unique values: shape: (963_946,)
Series: 'Salary_INR' [f64]
[
	300000.0
	300015.0
	300018.0
	300020.0
	300026.0
	…
	2.999889e6
	2.999906e6
	2.999944e6
	2.999973e6
	2.999976e6
]

In [5]:
display(df['Job_Title'].unique().to_list())

['Finance Manager',
 'CTO',
 'Data Analyst',
 'HR Executive',
 'Talent Acquisition Specialist',
 'HR Manager',
 'Operations Director',
 'Sales Director',
 'Innovation Manager',
 'CFO',
 'SEO Specialist',
 'Account Manager',
 'Supply Chain Manager',
 'DevOps Engineer',
 'Sales Executive',
 'Operations Executive',
 'IT Manager',
 'Software Engineer',
 'Financial Analyst',
 'Business Development Manager',
 'HR Director',
 'Marketing Executive',
 'Logistics Coordinator',
 'Lab Technician',
 'Product Developer',
 'Brand Manager',
 'Accountant',
 'Research Scientist',
 'Content Strategist']

In [6]:
# Define job levels based on common corporate hierarchy
level = {
    'C-level': ['CTO', 'CFO', 'CEO'],
    'V-level': ['VP'],
    'D-level': ['Director'],
    'B-level': ['Manager'],
    'Employee': ['Specialist', 'Engineer', 'Accountant', 'Technician', 'Scientist', 'Executive', 'Analyst', 'Developer', 'Coordinator', 'Strategist']
}

CLevel_cond = pl.col('Job_Title').str.contains('|'.join(level['C-level']))
VLevel_cond = pl.col('Job_Title').str.contains('|'.join(level['V-level']))
DLevel_cond = pl.col('Job_Title').str.contains('|'.join(level['D-level']))
BLevel_cond = pl.col('Job_Title').str.contains('|'.join(level['B-level']))
Employee_cond = pl.col('Job_Title').str.contains('|'.join(level['Employee']))

df_with_level = df.with_columns(
    pl.when(CLevel_cond).then(pl.lit('C-level'))
    .when(VLevel_cond).then(pl.lit('V-level'))
    .when(DLevel_cond).then(pl.lit('D-level'))
    .when(BLevel_cond).then(pl.lit('B-level'))
    .otherwise(pl.lit('Employee'))
    .alias('Level')
)
display(df_with_level)

shape: (2_000_000, 13)
┌────────────┬───────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬──────────┐
│ Unnamed: 0 ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Status   ┆ Work_Mode ┆ Salary_IN ┆ Level    │
│ ---        ┆ ID        ┆ ---       ┆ t         ┆   ┆ ---      ┆ ---       ┆ R         ┆ ---      │
│ i64        ┆ ---       ┆ str       ┆ ---       ┆   ┆ str      ┆ str       ┆ ---       ┆ str      │
│            ┆ str       ┆           ┆ str       ┆   ┆          ┆           ┆ f64       ┆          │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪══════════╡
│ 0          ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ Resigned ┆ On-site   ┆ 1.585363e ┆ Employee │
│            ┆ 1         ┆ Nguyen    ┆           ┆   ┆          ┆           ┆ 6         ┆          │
│ 1          ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ Active   ┆ On-site   ┆ 847686.0  ┆ Employee │
│            ┆ 2         ┆ Williams  ┆           ┆   ┆          ┆           ┆           ┆          │
│ 2          ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ Active   ┆ On-site   ┆ 1.430084e ┆ B-level  │
│            ┆ 3         ┆ Martinez  ┆           ┆   ┆          ┆           ┆ 6         ┆          │
│ 3          ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ Active   ┆ On-site   ┆ 990689.0  ┆ Employee │
│            ┆ 4         ┆ Valdez    ┆           ┆   ┆          ┆           ┆           ┆          │
│ 4          ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ Active   ┆ On-site   ┆ 535082.0  ┆ Employee │
│            ┆ 5         ┆ Hendricks ┆ s         ┆   ┆          ┆           ┆           ┆          │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …        ┆ …         ┆ …         ┆ …        │
│ 1999995    ┆ EMP199999 ┆ Cody      ┆ Operation ┆ … ┆ Active   ┆ Remote    ┆ 657648.0  ┆ Employee │
│            ┆ 6         ┆ Russell   ┆ s         ┆   ┆          ┆           ┆           ┆          │
│ 1999996    ┆ EMP199999 ┆ Tracey    ┆ IT        ┆ … ┆ Active   ┆ On-site   ┆ 1.030109e ┆ Employee │
│            ┆ 7         ┆ Smith     ┆           ┆   ┆          ┆           ┆ 6         ┆          │
│ 1999997    ┆ EMP199999 ┆ Tracy Lee ┆ Sales     ┆ … ┆ Active   ┆ Remote    ┆ 1.313085e ┆ B-level  │
│            ┆ 8         ┆           ┆           ┆   ┆          ┆           ┆ 6         ┆          │
│ 1999998    ┆ EMP199999 ┆ Michael   ┆ IT        ┆ … ┆ Retired  ┆ On-site   ┆ 1.479727e ┆ Employee │
│            ┆ 9         ┆ Roberson  ┆           ┆   ┆          ┆           ┆ 6         ┆          │
│ 1999999    ┆ EMP200000 ┆ Angela    ┆ HR        ┆ … ┆ Active   ┆ Remote    ┆ 993718.0  ┆ Employee │
│            ┆ 0         ┆ Lambert   ┆           ┆   ┆          ┆           ┆           ┆          │
└────────────┴───────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴──────────┘

In [7]:
df_with_level = df_with_level.with_columns(
    pl.col('Hire_Date').dt.year().alias('Hire_Year'),
    pl.col('Hire_Date').dt.month().alias('Hire_Month'),
    pl.col('Hire_Date').dt.weekday().alias('Hire_Weekday'),
    (pl.col('Salary_INR')/n).alias('Salary_USD')
)
display(df_with_level)

shape: (2_000_000, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Unnamed:  ┆ Employee_ ┆ Full_Name ┆ Departmen ┆ … ┆ Hire_Year ┆ Hire_Mont ┆ Hire_Week ┆ Salary_U │
│ 0         ┆ ID        ┆ ---       ┆ t         ┆   ┆ ---       ┆ h         ┆ day       ┆ SD       │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ i32       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ str       ┆           ┆ str       ┆   ┆           ┆ i8        ┆ i8        ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ EMP000000 ┆ Joshua    ┆ IT        ┆ … ┆ 2011      ┆ 8         ┆ 3         ┆ 18091.55 │
│           ┆ 1         ┆ Nguyen    ┆           ┆   ┆           ┆           ┆           ┆ 5403     │
│ 1         ┆ EMP000000 ┆ Julie     ┆ Marketing ┆ … ┆ 2018      ┆ 3         ┆ 5         ┆ 9673.467 │
│           ┆ 2         ┆ Williams  ┆           ┆   ┆           ┆           ┆           ┆ 99       │
│ 2         ┆ EMP000000 ┆ Alyssa    ┆ HR        ┆ … ┆ 2023      ┆ 3         ┆ 1         ┆ 16319.57 │
│           ┆ 3         ┆ Martinez  ┆           ┆   ┆           ┆           ┆           ┆ 0923     │
│ 3         ┆ EMP000000 ┆ Nicholas  ┆ IT        ┆ … ┆ 2023      ┆ 10        ┆ 4         ┆ 11305.36 │
│           ┆ 4         ┆ Valdez    ┆           ┆   ┆           ┆           ┆           ┆ 346      │
│ 4         ┆ EMP000000 ┆ Joel      ┆ Operation ┆ … ┆ 2024      ┆ 12        ┆ 1         ┆ 6106.150 │
│           ┆ 5         ┆ Hendricks ┆ s         ┆   ┆           ┆           ┆           ┆ 862      │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 1999995   ┆ EMP199999 ┆ Cody      ┆ Operation ┆ … ┆ 2010      ┆ 8         ┆ 2         ┆ 7504.827 │
│           ┆ 6         ┆ Russell   ┆ s         ┆   ┆           ┆           ┆           ┆ 114      │
│ 1999996   ┆ EMP199999 ┆ Tracey    ┆ IT        ┆ … ┆ 2021      ┆ 5         ┆ 5         ┆ 11755.20 │
│           ┆ 7         ┆ Smith     ┆           ┆   ┆           ┆           ┆           ┆ 9403     │
│ 1999997   ┆ EMP199999 ┆ Tracy Lee ┆ Sales     ┆ … ┆ 2024      ┆ 5         ┆ 3         ┆ 14984.42 │
│           ┆ 8         ┆           ┆           ┆   ┆           ┆           ┆           ┆ 3143     │
│ 1999998   ┆ EMP199999 ┆ Michael   ┆ IT        ┆ … ┆ 2023      ┆ 2         ┆ 2         ┆ 16886.07 │
│           ┆ 9         ┆ Roberson  ┆           ┆   ┆           ┆           ┆           ┆ 7827     │
│ 1999999   ┆ EMP200000 ┆ Angela    ┆ HR        ┆ … ┆ 2020      ┆ 11        ┆ 3         ┆ 11339.92 │
│           ┆ 0         ┆ Lambert   ┆           ┆   ┆           ┆           ┆           ┆ 9248     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

There are remarkable value in various field:
1) Department: Finance, IT, Operations, HR, Marketing, Sales, and R&D.
2) Levels of management: Spreading from C-level to Employee.

In [8]:
# Export to csv
#df_with_level.write_csv('HR_Data_MNC_with_levels.csv')

5. ANALYSIS:
My aiming is practicing data visualization with Tableau, so most of questions are done in Tableau instead.

From Question 1-10:

In [9]:
%%HTML 

<div class='tableauPlaceholder' id='viz1756390588591' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_Data_MNC_Part1&#47;Q1_DistributionofEmployeeStatus&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='HR_Data_MNC_Part1&#47;Q1_DistributionofEmployeeStatus' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_Data_MNC_Part1&#47;Q1_DistributionofEmployeeStatus&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1756390588591');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

Question 11: Working in Python

In [10]:
df.select('Performance_Rating', 'Salary_INR').corr()

shape: (2, 2)
┌────────────────────┬────────────┐
│ Performance_Rating ┆ Salary_INR │
│ ---                ┆ ---        │
│ f64                ┆ f64        │
╞════════════════════╪════════════╡
│ 1.0                ┆ -0.000209  │
│ -0.000209          ┆ 1.0        │
└────────────────────┴────────────┘

From Question 12-15:

In [11]:
%%HTML 

<div class='tableauPlaceholder' id='viz1756390619574' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_Data_MNC_Part2&#47;Q11_CorrelationbetweenPerformanceRatingSalary_Too&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='HR_Data_MNC_Part2&#47;Q11_CorrelationbetweenPerformanceRatingSalary_Too' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HR&#47;HR_Data_MNC_Part2&#47;Q11_CorrelationbetweenPerformanceRatingSalary_Too&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1756390619574');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>